.color-FE002D {
    color:#FE002D;
}

.color-CD0074 {
    color:#CD0074;
}

.color-FF7400 {
    color:#FF7400;
}

.color-D02F8A {
    color:#D02F8A;
}

.color-FF5D7A {
    color:#FF5D7A;
}

.color-804650 {
    color:#804650;
}