@import "main";

#pageDashboard {
    flex:1;
    width:100vw;

    @keyframes rotation {
        0% {
            transform: rotateY(0deg);
          }
        25% {
          transform: rotateY(360deg);
        }
        50% {
          transform: rotateY(0deg);
        }

          100% {
            transform: rotateX(360deg);
          }
      }

    .qube-perspective {
        perspective:900px;
    }

    #cubeGallery {
        width: 150px;
        height: 150px;
        animation: rotation 15s infinite linear;
    }
    
    #cubeGallery > * {
        background: red;
    }

    

    .panel {
        background-color:black;
        color:white;
        padding-left:10vw;
        padding-bottom:10vh;
        opacity: .9;
        margin:10px;
        border-radius: 20px;

        .title {
            color:#d54062;
            border-bottom: thick dashed #ffa36c;
            border-left: thick solid #799351;
            border-radius: 10px;
            margin-bottom:3vh;
            font-family: "Black Ops One";
        }
    }

    

    .memberList {
        display: flex;
        overflow-x:auto;

        button {
            margin-right:2vw;
        }
    }
}